In [6]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

Se va a hacer la limpieza de los datos para poder utilizar solo la llegada de trenes por dia para inciar el conjunto de modelos necesarios para crear estimaciones de las llegadas de los trenes

In [7]:
df = pd.read_csv("ModelData.csv")
df = df.astype('int32')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394489 entries, 0 to 394488
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   stcc                  394489 non-null  int32
 1   netWeight             394489 non-null  int32
 2   carLength             394489 non-null  int32
 3   Dia_semana            394489 non-null  int32
 4   estacionOrigen_id     394489 non-null  int32
 5   estacionDestino_id    394489 non-null  int32
 6   consignatario_id      394489 non-null  int32
 7   tipoServicio_id       394489 non-null  int32
 8   idTrenICHR_id         394489 non-null  int32
 9   idFerrocarrilICHR_id  394489 non-null  int32
 10  tipoCarro_id          394489 non-null  int32
 11  a単o                   394489 non-null  int32
 12  mes                   394489 non-null  int32
 13  dia                   394489 non-null  int32
 14  coches_por_dia        394489 non-null  int32
 15  hora_minuto           394489 non-null  int32
dtypes: int32(16)
memory usage: 24.1 MB

Hacemos limpiwza para quedarnos con los valores que nos son impotante para esta primer etapa

In [8]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(df):
    # Drop columns: 'netWeight', 'stcc' and 8 other columns
    df = df.drop(columns=['netWeight', 'stcc', 'carLength', 'estacionOrigen_id', 'estacionDestino_id', 'consignatario_id', 'tipoServicio_id', 'idFerrocarrilICHR_id', 'tipoCarro_id', 'coches_por_dia'])
    # Drop duplicate rows across all columns
    df = df.drop_duplicates()
    return df

df_clean = clean_data(df.copy())
df_clean.head()

    Dia_semana  idTrenICHR_id   a単o  mes  dia  hora_minuto
0            6              0  2018    1    5         1935
39           6              1  2018    1    5         1950
44           6              2  2018    1    5         2050
48           1              3  2018    1    7         1010
58           1              4  2018    1    7         1045

Hacemos el conteo de trenes por dia, teniendo en cuenta tanto mes, dia de la semana y el dia(fecha) de cada tren para obtener esa metriica de manera sencilla

In [9]:
# Count the number of records by day, month, and day of the week
df_count = df_clean.groupby(['dia', 'mes', 'Dia_semana',"a単o"]).size().reset_index(name='trainsxday')
df_count.head()
df_count.to_csv("./trainsXday/trainsXday.csv", index=False)