Iniciamos con la importacion basicas de librerias para el procesado y manejo de la informacion

In [58]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

Cargamos el dataset de calculo y el principal

In [59]:
ModelData = pd.DataFrame(pd.read_csv("Tcargos.csv"))

Car_len_mean = pd.DataFrame(pd.read_csv("Tcargos.csv"))
Car_len_mean.head()

,tipoCarro,estacionOrigen,estacionDestino,stcc,contenido,netWeight,carLength,fechaEvento,Dia_semana,hora,consignatario,tipoServicio,idTrenICHR,idFerrocarrilICHR
0,TD1,TULA PASAJEROS,HOUSTON,2899885,ADITIVOS P/ACEI,0,5505,2018-01-05 19:35:00,6,19:35:00,AFTON CHEMICAL CORP,STR,LMXDX05,KCSM
1,TD1,TULA PASAJEROS,BELLE CHASSE,2899991,PRODUCTOS QUIMI,70029,1506,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM
2,TD1,TULA PASAJEROS,EDDYVILLE,2046115,JARABE DE MAIZ,0,1313,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM
3,G,TULA PASAJEROS,MALLARD,3312332,LAMINA GALVANIZ,0,4808,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM
4,TD1,TULA PASAJEROS,CEDAR RAPIDS,2046115,JARABE DE MAIZ,0,4208,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM

Procedemos a encontrar la media del largo de los coches para homologar el valor en el dataset

In [60]:
def clean_data(Car_len_mean):
    # Performed 1 aggregation grouped on column: 'tipoCarro'
    Car_len_mean = Car_len_mean.groupby(['tipoCarro']).agg(carLength_mean=('carLength', 'mean')).reset_index()
    return Car_len_mean

Car_len_mean = clean_data(Car_len_mean.copy())
Car_len_mean.head()

  tipoCarro  carLength_mean
0         A     1770.000000
1        CA      768.333333
2       CCH      384.725000
3         D     1183.549419
4        DE     3902.068184

Remplazamos el valor de carLength las filas donde el tipo de coche coincide para homologar los datos

In [61]:
# Realizar el merge entre Tcargos y CarLength_Mean
merged_df = ModelData.merge(Car_len_mean, on='tipoCarro', how='left')

# Actualizar la columna carLength con los valores de carLength_mean
merged_df['carLength'] = merged_df['carLength_mean']

# Eliminar la columna carLength_mean que ya no necesitamos
merged_df.drop(columns=['carLength_mean'], inplace=True)

Checamos que se hiciera de manera exitosa el merge

In [62]:
merged_df.head()

,tipoCarro,estacionOrigen,estacionDestino,stcc,contenido,netWeight,carLength,fechaEvento,Dia_semana,hora,consignatario,tipoServicio,idTrenICHR,idFerrocarrilICHR
0,TD1,TULA PASAJEROS,HOUSTON,2899885,ADITIVOS P/ACEI,0,2570.501955,2018-01-05 19:35:00,6,19:35:00,AFTON CHEMICAL CORP,STR,LMXDX05,KCSM
1,TD1,TULA PASAJEROS,BELLE CHASSE,2899991,PRODUCTOS QUIMI,70029,2570.501955,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM
2,TD1,TULA PASAJEROS,EDDYVILLE,2046115,JARABE DE MAIZ,0,2570.501955,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM
3,G,TULA PASAJEROS,MALLARD,3312332,LAMINA GALVANIZ,0,2865.273278,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM
4,TD1,TULA PASAJEROS,CEDAR RAPIDS,2046115,JARABE DE MAIZ,0,2570.501955,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM

Tumbamos la columna de contenido dado a que ya se tiene la calsificacion de lo mismo mediante el identificador "stcc"

In [63]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(merged_df):
    # Drop column: 'contenido'
    merged_df = merged_df.drop(columns=['contenido'])
    return merged_df

merged_df = clean_data(merged_df.copy())
merged_df.head()

,tipoCarro,estacionOrigen,estacionDestino,stcc,netWeight,carLength,fechaEvento,Dia_semana,hora,consignatario,tipoServicio,idTrenICHR,idFerrocarrilICHR
0,TD1,TULA PASAJEROS,HOUSTON,2899885,0,2570.501955,2018-01-05 19:35:00,6,19:35:00,AFTON CHEMICAL CORP,STR,LMXDX05,KCSM
1,TD1,TULA PASAJEROS,BELLE CHASSE,2899991,70029,2570.501955,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM
2,TD1,TULA PASAJEROS,EDDYVILLE,2046115,0,2570.501955,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM
3,G,TULA PASAJEROS,MALLARD,3312332,0,2865.273278,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM
4,TD1,TULA PASAJEROS,CEDAR RAPIDS,2046115,0,2570.501955,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM

Mapeamos las estaciones de origen

In [64]:
unique_estaciones = merged_df['estacionOrigen'].unique()
estacion_id_map = {estacion: idx for idx, estacion in enumerate(unique_estaciones)}
# Crear un DataFrame a partir del diccionario de mapeo
estacion_id_df = pd.DataFrame(list(estacion_id_map.items()), columns=['estacionOrigen', 'ID'])

estacion_id_df.head()

   estacionOrigen  ID
0  TULA PASAJEROS   0
1            TULA   1
2     TLALTEPOXCO   2
3        VERACRUZ   3
4            VITO   4

Remplazamos las estaciones de origen por su ID y eliminamos la columna de estacionOrigen

In [65]:

# Mapear los valores de estacionOrigen a sus correspondientes IDs
merged_df['estacionOrigen_id'] = merged_df['estacionOrigen'].map(estacion_id_map)

"""
Cell generated by Data Wrangler.
"""
def clean_data(merged_df):
    # Drop column: 'estacionOrigen'
    merged_df = merged_df.drop(columns=['estacionOrigen'])
    return merged_df

merged_df = clean_data(merged_df.copy())
merged_df.head()

,tipoCarro,estacionDestino,stcc,netWeight,carLength,fechaEvento,Dia_semana,hora,consignatario,tipoServicio,idTrenICHR,idFerrocarrilICHR,estacionOrigen_id
0,TD1,HOUSTON,2899885,0,2570.501955,2018-01-05 19:35:00,6,19:35:00,AFTON CHEMICAL CORP,STR,LMXDX05,KCSM,0
1,TD1,BELLE CHASSE,2899991,70029,2570.501955,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM,0
2,TD1,EDDYVILLE,2046115,0,2570.501955,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM,0
3,G,MALLARD,3312332,0,2865.273278,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM,0
4,TD1,CEDAR RAPIDS,2046115,0,2570.501955,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM,0

Mapeamos de igual manera la columna de estacion destino

In [66]:
# Crear un diccionario que asigne un ID único a cada valor de estacionDestino
unique_estaciones_destino = merged_df['estacionDestino'].unique()
estacion_destino_id_map = {estacion: idx for idx, estacion in enumerate(unique_estaciones_destino)}

# Crear un DataFrame a partir del diccionario de mapeo
estacion_destino_id_df = pd.DataFrame(list(estacion_destino_id_map.items()), columns=['estacionDestino', 'ID'])
estacion_destino_id_df.head()

  estacionDestino  ID
0         HOUSTON   0
1    BELLE CHASSE   1
2       EDDYVILLE   2
3         MALLARD   3
4    CEDAR RAPIDS   4

Remplazamos las estaciones de origen por su ID y eliminamos la columna de estacionDestino

In [67]:
# Mapear los valores de estacionDestino a sus correspondientes IDs
merged_df['estacionDestino_id'] = merged_df['estacionDestino'].map(estacion_destino_id_map)

# Mostrar las primeras filas del DataFrame actualizado
merged_df.head()

"""
Cell generated by Data Wrangler.
"""
def clean_data(merged_df):
    # Drop column: 'estacionOrigen'
    merged_df = merged_df.drop(columns=['estacionDestino'])
    return merged_df

merged_df = clean_data(merged_df.copy())
merged_df.head()

,tipoCarro,stcc,netWeight,carLength,fechaEvento,Dia_semana,hora,consignatario,tipoServicio,idTrenICHR,idFerrocarrilICHR,estacionOrigen_id,estacionDestino_id
0,TD1,2899885,0,2570.501955,2018-01-05 19:35:00,6,19:35:00,AFTON CHEMICAL CORP,STR,LMXDX05,KCSM,0,0
1,TD1,2899991,70029,2570.501955,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM,0,1
2,TD1,2046115,0,2570.501955,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM,0,2
3,G,3312332,0,2865.273278,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM,0,3
4,TD1,2046115,0,2570.501955,2018-01-05 19:35:00,6,19:35:00,INTERMEDIATE SWITCH,STR,LMXDX05,KCSM,0,4

De igual manera con consignatario, tipoServicio, idTrenICHR,idFerrocarilICHR

In [71]:

# Crear diccionarios que asignen un ID único a cada valor de las columnas especificadas
consignatario_id_map = {value: idx for idx, value in enumerate(merged_df['consignatario'].unique())}
tipoServicio_id_map = {value: idx for idx, value in enumerate(merged_df['tipoServicio'].unique())}
idTrenICHR_id_map = {value: idx for idx, value in enumerate(merged_df['idTrenICHR'].unique())}
idFerrocarrilICHR_id_map = {value: idx for idx, value in enumerate(merged_df['idFerrocarrilICHR'].unique())}

# Mapear los valores de las columnas a sus correspondientes IDs
merged_df['consignatario_id'] = merged_df['consignatario'].map(consignatario_id_map)
merged_df['tipoServicio_id'] = merged_df['tipoServicio'].map(tipoServicio_id_map)
merged_df['idTrenICHR_id'] = merged_df['idTrenICHR'].map(idTrenICHR_id_map)
merged_df['idFerrocarrilICHR_id'] = merged_df['idFerrocarrilICHR'].map(idFerrocarrilICHR_id_map)

# Crear DataFrames a partir de los diccionarios de mapeo
consignatario_id_df = pd.DataFrame(list(consignatario_id_map.items()), columns=['variable', 'id'])
tipoServicio_id_df = pd.DataFrame(list(tipoServicio_id_map.items()), columns=['variable', 'id'])
idTrenICHR_id_df = pd.DataFrame(list(idTrenICHR_id_map.items()), columns=['variable', 'id'])
idFerrocarrilICHR_id_df = pd.DataFrame(list(idFerrocarrilICHR_id_map.items()), columns=['variable', 'id'])

# Guardar los DataFrames de mapeo en archivos CSV
consignatario_id_df.to_csv('consignatario_id_map.csv', index=False)
tipoServicio_id_df.to_csv('tipoServicio_id_map.csv', index=False)
idTrenICHR_id_df.to_csv('idTrenICHR_id_map.csv', index=False)
idFerrocarrilICHR_id_df.to_csv('idFerrocarrilICHR_id_map.csv', index=False)

# Eliminar las columnas originales
merged_df.drop(columns=['consignatario', 'tipoServicio', 'idTrenICHR', 'idFerrocarrilICHR'], inplace=True)

# Mostrar las primeras filas del DataFrame actualizado
merged_df.head()

,tipoCarro,stcc,netWeight,carLength,fechaEvento,Dia_semana,hora,estacionOrigen_id,estacionDestino_id,consignatario_id,tipoServicio_id,idTrenICHR_id,idFerrocarrilICHR_id
0,TD1,2899885,0,2570.501955,2018-01-05 19:35:00,6,19:35:00,0,0,0,0,0,0
1,TD1,2899991,70029,2570.501955,2018-01-05 19:35:00,6,19:35:00,0,1,1,0,0,0
2,TD1,2046115,0,2570.501955,2018-01-05 19:35:00,6,19:35:00,0,2,1,0,0,0
3,G,3312332,0,2865.273278,2018-01-05 19:35:00,6,19:35:00,0,3,1,0,0,0
4,TD1,2046115,0,2570.501955,2018-01-05 19:35:00,6,19:35:00,0,4,1,0,0,0